@media (max-width: 768px){
  h1{
    font-size:2.2rem;
  }
  h2{
    font-size:1.8rem;
  }
  .experience__container{
    -ms-flex-wrap:wrap;
        flex-wrap:wrap;
    gap:1.5rem;
    -ms-flex-pack:distribute;
        justify-content:space-around;
  }
}
@media (max-width: 430px){
  h1{
    font-size:2rem;
  }
  h2{
    font-size:1.6rem;
  }
  .section{
    padding-top:55px;
    padding-bottom:45px;
  }
  .experience__container{
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    gap:20px;
    -ms-flex-pack:distribute;
        justify-content:space-around;
  }
  .experience-item{
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    text-align:center;
    gap:10px;
  }
}