$font-size: 16px;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-primary: "Roboto", sans-serif;

$letter-spacing: 0.1em;
$line-height-sm: 1.2;
$line-height: 1.64;

$container-primary: 1110px;
$container-sm: 540px;
$gap: 20px;
$gap-sm:($gap * 0.5);
/* 10px */
$gap-md: calc($gap * 1.5);
/*30px  */
$gap-lg: calc($gap * 2);
/* 40px */
